<div class="container h-100" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-3">
      <div class="card float-start" style="width:100%;">
        <div class="card-body">
          <h2 class="text-center">Add a Post</h2>
          <!-- Add New Post Form -->
          <form (submit)="addNewPost($event)">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" id="title" [formControl]="title" name="title" class="form-control">
              <small class="text-danger" *ngIf="title.invalid &&  title.touched">
                <ng-container *ngIf="title.hasError('required')">Title is required.</ng-container>
                <ng-container *ngIf="title.hasError('minlength')">Title must be at least 3 characters
                  long.</ng-container>
              </small>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" [formControl]="description" name="description" class="form-control"></textarea>
              <small class="text-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
                <ng-container *ngIf="description.hasError('required')">Description is required.</ng-container>
                <ng-container *ngIf="description.hasError('minlength')">Description must be at least 3 characters
                  long.</ng-container>
              </small>
            </div>

            <div class="form-group">
              <label for="priority">Priority</label>
              <select id="priority" [formControl]="priority" name="priority" class="form-control">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
              </select>
              <small class="text-danger" *ngIf="priority.invalid && (priority.dirty || priority.touched)">
                <ng-container *ngIf="priority.hasError('required')">Priority is required.</ng-container>
              </small>
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" [formControl]="status" name="status" class="form-control">
                <option value="open">Open</option>
                <option value="closed">Closed</option>
              </select>
              <small class="text-danger" *ngIf="status.invalid && (status.dirty || status.touched)">
                <ng-container *ngIf="status.hasError('required')">Status is required.</ng-container>
              </small>
            </div>

            <div class="form-group">
              <label for="departmentcode">Department Code</label>
              <input type="text" id="departmentcode" [formControl]="departmentcode" name="departmentcode"
                class="form-control">
              <small class="text-danger"
                *ngIf="departmentcode.invalid && (departmentcode.dirty || departmentcode.touched)">
                <ng-container *ngIf="departmentcode.hasError('required')">Department Code is required.</ng-container>
                <ng-container *ngIf="departmentcode.hasError('pattern')">Department Code must be 4 or 5 characters long
                  with only alphanumeric characters.</ng-container>
              </small>
            </div>

            <div class="error-message text-danger" *ngIf="hasError">{{ errorMessage }}</div>

            <div class="mb-3"></div>

            <button type="submit" class="btn btn-primary d-block mx-auto">Add Post</button>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <div class="card mb-3 shadow" style="width: 100%">
        <div class="card-body">
          <h2 class="text-center with-line">Bulletin - Current Issues</h2>
          <div class="post-list" style="max-height: 700px; overflow-y: auto;">
           <!-- Displaying list of posts -->
            <app-post-list [posts]="posts"></app-post-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>